body {
    background-color: #36393e;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

header {
    color: white;
    text-align: center;
    font-size: x-large;
}

.square {
    height: 60px;
    width: 60px;
    border: 0px;
    text-align: center;
    background-color: #576579;
    font-size: 3.75em;
    color: white;
}

.square:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.grid {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    border: 2px solid white;
}

.leftsmall {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.leftbig {
    border-left: 2px solid white;
}

.topsmall {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.topbig {
    border-top: 2px solid white;
}

.solved {
    background-color: aquamarine;
}

.solveButton {
    width: 130px;
    height: 50px;
    margin-top: 30px;
    border: 3px white solid;
    background-color: #576579;
    font-weight: bold;
    font-size: 1.25em;
    color: white;
}

.solveButton:hover {
    cursor: pointer;
}

.solveButton:active {
    transform: scale(0.98);
}

.solveButton:focus {
    outline: none;
}
